
<div class='container-fluid'>

	<div class='row'>
		<div class='col-sm-12'>
		<center><h1>Title</h1></center>
		</div>
	</div>

	<div class='row'>
		<div class='col-sm-2'>
		</div>
		<div class='col-sm-8'>
			<span>
				<h3>Users</h3>
					<ul>
						<li>find your barber</li>
						<li>reserve your haircut</li>
						<li>find new deals</li>
					</ul>
			</span>
			<span>
				<h3>Hair Stylist</h3>
					<ul>
						<li>build your rep</li>
						<li>upload your skills</li>
						<li>track your schedule</li>
					</ul>
			</span>
			<span>
				<h3>Manager</h3>
					<ul>
						<li>store effiency increase</li>
						<li>manage employees</li>
						<li>express payments</li>
					</ul>
			</span>
			<center><button><%= link_to 'Barbershops', '' %></button>
			<button><%= link_to 'Salons', '' %></button></center>
		</div>
		<div class='col-sm-2'>
		</div>
	</div>

</div>